<pre>
<center>
<div class="nav-menu">
[<a href="/index.html">Index</a>] [<a href="/about.html">About</a>] [<a href="javascript:void(0)" onclick="print();">Download</a>] [<a href="javascript:void(0)" onclick="switchTheme();">Dark Mode</a>]
</div>
____  ___                     __           
\   \/  / ____   ____ _____  |  | _____.__.
 \     / /    \_/ __ \\__  \ |  |/ <   |  |
 /     \|   |  \  ___/ / __ \|    < \___  |
/___/\  \___|  /\___  >____  /__|_ \/ ____|
      \_/    \/     \/     \/     \/\/     
</center>
</pre>