<pre>
<center>
<div class="nav-menu">
[<a href="/index.html">Index</a>] [<a href="/about.html">About</a>] [<a href="javascript:void(0)" onclick="print();">Download</a>] [<a href="javascript:void(0)" onclick="switchTheme();">Dark Mode</a>]
</div>
    ___                         _             
   (  _`\                      ( )            
   | (_(_)  ___     __     _ _ | |/')  _   _  
   `\__ \ /' _ `\ /'__`\ /'_` )| , <  ( ) ( ) 
   ( )_) || ( ) |(  ___/( (_| || |\`\ | (_) | 
   `\____)(_) (_)`\____)`\__,_)(_) (_)`\__, | 
                                      ( )_| | 
                                      `\___/' 
</center>
</pre>