body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  /* outline: 3px solid green; */
}

pre {
  max-width: 769px;
  white-space: pre-wrap;
}

img {
  border-radius: 5%;
  display: block;
  margin: 0 auto;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

.page-break {
  page-break-after: always;
}

.container {
  margin: 0 auto;
  max-width: 769px;
  padding: 0 12px;
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  .nav-menu {
    display: none;
  }

  a {
    color: black;
  }

  a:visited {
    color: black;
  }
}